<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.versapay.qa.utils.CustomListener" />
		<listener
			class-name="com.versapay.qa.retryfailedtestlogic.TransformerForRetry" />
		<listener class-name="com.versapay.qa.extentreportlistener.ExtentReportListener" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.versapay.qa.testcases.Test" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
